 <h1>All Posts</h1>
 <div "col-md-4">
 <%= link_to "New", new_question_path(@post), class: 'btn btn-success' %>
 </div>
 <% @posts.each do |post| %>
    <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
     </div>
   </div>
 <% end %>

